body {
  background-color: #e0def4;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26233a;
  }
  
  li {
    float: right;
    font-family: 'Montserrat', sans-serif;  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #9ccfd8;
  }
  
  .active {
    background-color: #31748f;
  }
  .addnote {
    top:11%;
    right:70%;
    width:200px;
    height:40px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;

    }
    .footer {
      position: absolute;
      bottom: 0;
      left:50%;
      font-family: 'Montserrat', sans-serif;   }
   .textareadiv {
     position: absolute;
     left: 50%;
     font-family: 'Smooch Sans', sans-serif;
     
   }
   .te{
    display:inline-block;
    position:relative;
  }
  
  .delete {
    position:absolute;
    bottom:10px;
    right:10px;
    color:red;
  }
  
  textarea{
    display:block;
    font-family: 'Fredoka', sans-serif;  }
  .sidebar{
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #907aa9;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Fredoka', sans-serif;}
.open {
  top:1%;
  left:80%;
  width:40px;
  height:32px;
  position: absolute;
  z-index: 2;
  background: grey; 
  }
  button {
    font-family: 'Fredoka', sans-serif;  }