ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .addnote {
    top:11%;
    right:70%;
    width:200px;
    height:40px;
    position: absolute;

    }
    .footer {
      position: absolute;
      bottom: 0;
      left:50%;
   }
   textarea {
     position: relative;
     left: 50px;
     
   }